/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    background: #f5f5f5 !important;
    font: normal small Arial, Helvetica, sans-serif;
    color: #6c6c6c;
    padding: 10px;
    margin: 0;
}
h1,
h2,
h3,
h4 {
    color: #EA672E;
    margin: 5px 0;
}


h3 {
    background:   #EEE;
    padding-left: 5px;
    margin-left: 3px;
}


pre {
    background-color: #eee;
    border: 1px solid #ddd;
}
a {
    color: #EA672E;
}
a:hover {
    text-decoration: none;
    color: #11A6D4;
}
img {
    border: none;
}

table,
sortable {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCCC;
    background-color: #F7F7F7;
}
#mandatory {
    background-color: #CCFFFF;
}
/* Boxed Style */

.boxed {
    margin-bottom: 1em;
    background: #F7F7F7 url(http://ant.apache.org/easyant/style/../images/img07.gif) repeat-x;
    border: 1px solid #CCCCCC;
}
.boxed .title {
    height: 29px;
    padding: 11px 0 0 27px;
    margin: 0;
    background: url(http://ant.apache.org/easyant/style/../images/img08.gif) no-repeat 10px 50%;
    font-size: 1.2em;
    color: #FFFFFF;
}
td.spacer {
    border-top: none;
    background-color: #f5f5f5;
}
header-row,
thead {
    font-weight: bold;
    color: #FEFEFE;
    border-bottom: 1px solid black;
    background: #ddd;

}
.odd {
    background-color: #f5f5f5;
}
.even {
    background-color: #fff;
}
span.bold {
    font-weight: bold;
}
span.defaultValue,
span.buildTypeValue {
    font-style: italic;
}
#buildtype-phases,
td.phase-row {
    vertical-align: top;
    border-spacing: 0px;
    border-top: 1px solid black;
}
#note {
    background-image: url('http://ant.apache.org/easyant/style/../images/info.gif');
    background-repeat: no-repeat;
    background-color: #eeeeee;
    min-height: 48px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 50px;
    padding-top: 12px;
    border: 1px solid #dddddd;
}
.release {
    background-image: url('http://ant.apache.org/easyant/style/../images/package.png');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
    font-weight: bold;
    color: #EA672E;
}
table.list tbody tr.group td {
    padding: 0.8em 0 0.5em 0.3em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
table.list tbody tr.group {
    color: #aaa;
    font-size: 80%;
}
table.list tbody tr:hover {
    background-color: #ffffdd;
}
table.list tbody tr.group:hover {
    background-color: inherit;
}
table {
    width: 100%;
}
.col1 {
    width: 75%;
}
.col2 {
    float: left;
    width: 50%;
}
.col3 {
    float: left;
    width: 33%;
}
.br {
    border-top: 1px solid #DDD;
    clear: both;
}
